<%= form_with(model: publication) do |form| %>
<% if publication.errors.any? %>
<div style="color: red">
  <h2><%= pluralize(publication.errors.count, "error") %> prohibited this publication from being saved:</h2>

  <ul>
    <% publication.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= form.label :images, 'Subir imágenes' %>
  <%= form.file_field :images, multiple: true %>
</div>

<div>
  <%= form.label :descripción, style: "display: block" %>
  <%= form.text_area :description %>
</div>

<div>
  <%= form.label :producto, style: "display: block" %>
  <%= form.collection_select :product_id, @products, :id, lambda { |product| "#{product.client.name} #{product.client.lastName}" }, prompt: "Selecciona un producto" %>
</div>

<div>
  <%= form.label :usuario, style: "display: block" %>
  <%= form.collection_select :user_id, @clients, :second, :first, prompt: "Cliente" %>
</div>

<div>
  <%= form.submit "Subir publicación" %>
</div>
<% end %>