<div class="container">
<div class="card">
  <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% if publication.images.attached? %>
        <% publication.images.each_with_index do |image, index| %>
          <div class="carousel-item <%= 'active' if index == 0 %>">
            <%= image_tag image %>
          </div>
        <% end %>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#imageCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#imageCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>

  <div class="card-body">
    <strong>Description:</strong>
    <%= publication.description %>
    <p>
      <strong>Product:</strong>
      <%= publication.product_id %>
    </p>
    <p>
      <strong>User:</strong>
      <%= publication.user_id %>
    </p>
  </div>
</div>
</div>