
  <div class="container pt-3">
  <div class="col-sm-12">
    <p style="color: green"><%= notice %></p>
    <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <% if @publication.images.attached? %>
        <% @publication.images.each_with_index do |image, index| %>
        <div class="carousel-item custom-carousel-item <%= 'active' if index == 0 %>">
          <%= image_tag image, class: "d-block w-100 img-fluid" %>
        </div>
        <% end %>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#imageCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#imageCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
    <br />

    <div class="card">
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Descripci칩n</th>
            <td><%= @publication.description %></td>
          </tr>
          <tr>
            <th scope="row">Tipo</th>
            <td><%= @publication.product.type.name %></td>
          </tr>
          <tr>
            <th scope="row">Composici칩n</th>
            <td><%= @publication.product.composition.name %></td>
          </tr>
          <tr>
            <th scope="row">Localidad</th>
            <td><%= @publication.product.client.locality.name %></td>
          </tr>          <tr>
            <th scope="row">Cantidad</th>
            <td><%= @publication.product.quantity %> </td>
          </tr>
          <tr>
            <th scope="row">Informe</th>
            <td>
              <ul class="list-unstyled">
                <% if @publication.product.files.any? %>
                <ul class="list-unstyled">
                  <% @publication.product.files.each do |file| %>
                  <li>
                    <%= link_to file.filename, rails_blob_path(file, disposition: "attachment") %>
                  </li>
                  <% end %>
                </ul>
                <% else %>
                <p>No hay informe disponible.</p>
                <% end %>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="botons">
    <%if user_signed_in? && current_user.role == "admin"%>
    <%= link_to "Editar publicaci칩n", edit_publication_path(@publication), class: "btn btn-outline-secondary",style:"margin-top: 10px;" %>
    <%= button_to "Eliminar", @publication, method: :delete, class: "btn btn-outline-secondary", style: "margin-top: 10px;" %>
    <%end%>
    <%= link_to "Volver", publications_path, class: "btn btn-outline-secondary", style:"margin-top: 10px;" %>
    </div>
    <hr>
    <br />
    <h2>Cotiza</h2>
    <p>Uno de nuestros ejecutivos se contactar치 usted </p>
    <%= render 'contacts/contact_form', contact: Contact.new(publication_id: @publication.id) %>

  </div>
</div>