<div class="container">
  <div id="<%= dom_id client %>">

    <table class="table">
      <tbody>
        <tr>
          <td>Nombre</td>
          <td><%= client.name %></td>
        </tr>
        <tr>
          <td>Apellido</td>
          <td><%= client.lastName %></td>
        </tr>
        <tr>
          <td>Teléfono</td>
          <td><%= client.phone %></td>
        </tr>
        <tr>
          <td>Correo</td>
          <td><%= client.email %></td>
        </tr>
        <tr>
          <td>Localidad</td>
          <td><%= client.locality.name %></td>
        </tr>
    </table>
  </div>
</div>