<div class="container">
  <p style="color: green"><%= notice %></p>

  <h1>Clientes</h1>
  <table class="table">
    <thead>
      <tr>
        <th>id</th>
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>Correo</th>
        <th>Localidad</th>
      </tr>
    </thead>
    <tbody>
      <% @clients.order(created_at: :desc).each do |client| %>

      <tr>
        <td><%= client.id %></td>
        <td><%= client.name + " " + client.lastName %></td>
        <td><%= client.phone %></td>
        <td><%= client.email %></td>
        <td><%= client.locality.name %></td>

        <td><%= link_to "Ver", client %></td>
      </tr>

      <% end %>
    </tbody>
    </table>
</div>

<%= link_to "Crear cliente", new_client_path, class: 'btn btn-primary', style: "margin-left: 20px; margin-bottom: 20px;" %>