<div id="<%= dom_id contact %>">
  <p>
    <strong>Name:</strong>
    <%= contact.name %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= contact.lastName %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= contact.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= contact.email %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= contact.content %>
  </p>

  <p>
    <strong>Locality:</strong>
    <%= contact.locality_id %>
  </p>

  <p>
    <strong>Publication:</strong>
    <%= contact.publication_id %>
  </p>

</div>
