<div class="container">
  <%= form_with(model: contact, html: { class: 'needs-validation', novalidate: true }) do |form| %>
  <%= form.hidden_field :publication_id, value: 4 %>

  <% if contact.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>
    <ul>
      <% contact.errors.each do |error| %>
      <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :Nombre %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :Apellido %>
    <%= form.text_field :lastName, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :Teléfono %>
    <%= form.text_field :phone, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :Correo %>
    <%= form.text_field :email, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :Contenido %>
    <%= form.text_area :content, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :Localidad %>
    <%= form.collection_select :locality_id, Locality.order(:name), :id, :name, { prompt: "Selecciona una localidad" }, class: "form-select", required: true %>
  </div>

  <div>
    <%= form.submit "Enviar información" , class: "btn btn-outline-secondary", style: " margin-bottom: 10px;" %>
  </div>
  <% end %>
</div>
