<%= form_with(model: contact) do |form| %>
<% if contact.errors.any? %>
<div style="color: red">
  <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

  <ul>
    <% contact.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div>
  <%= form.label :name, style: "display: block" %>
  <%= form.text_field :name %>
</div>

<div>
  <%= form.label :lastName, style: "display: block" %>
  <%= form.text_field :lastName %>
</div>

<div>
  <%= form.label :phone, style: "display: block" %>
  <%= form.text_field :phone %>
</div>

<div>
  <%= form.label :email, style: "display: block" %>
  <%= form.text_field :email %>
</div>

<div>
  <%= form.label :content, style: "display: block" %>
  <%= form.text_area :content %>
</div>

<div>
  <%= form.label :locality_id, style: "display: block" %>
  <%= form.collection_select :locality_id, Locality.all, :id, :name, { prompt: "Selecciona una localidad" }, class: "form-select", required: true %>
</div>

<div>
  <%= form.hidden_field :publication_id, value: 2 %>
</div>

<div>
  <%= form.submit %>
</div>
<% end %>