<div class="container">
  <p style="color: green"><%= notice %></p>
  <div id="contacts">
    <h1>Contizaciones</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Teléfono</th>
          <th>Correo</th>
          <th>Contenido</th>
          <th>Localidad</th>
          <th>Publicación</th>

        </tr>
      </thead>
      <tbody>
        <% @contacts.order(created_at: :desc).each do |contact| %>

        <tr>
          <td><%= "#{contact.name} #{contact.lastName}" if contact.name && contact.lastName %></td>
          <td><%= contact.phone %></td>
          <td><%= contact.email %></td>
          <td><%= contact.content %></td>
          <td><%= contact.locality.name %></td>
          <td><%= contact.publication.id %></td>
          

          <td><%= link_to "Ver", contact %></td>
        </tr>

        <% end %>
      </tbody>
    </table>
  </div>
</div>


<%= link_to "Crear contacto", new_contact_path, class: 'btn btn-primary', style: "margin-left: 20px; margin-bottom: 20px;" %>