<div class="container">
  <%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
  <div style="color: red">
    <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

    <ul>
      <% product.errors.each do |error| %>
      <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :files, 'Archivos Adjuntos' %>
    <%= form.file_field :files, multiple: true %>
  </div>

  <div class="mb-3">
    <%= form.label :Cantidad, style: "display: block" %>
    <%= form.number_field :quantity %>
  </div>

  <div class="mb-3">
    <%= form.label :Tipo, style: "display: block" %>
    <%= form.collection_select :type_id, @type, :id, :name, prompt: "Tipo" %>
  </div>

  <div class="mb-3">
    <%= form.label :Composición, style: "display: block" %>
    <%= form.collection_select :composition_id, @composition, :id, :name, prompt: "Composición" %>
  </div>

  <div class="mb-3">
    <%= form.label :localidad, style: "display: block" %>
    <%= form.collection_select :locality_id, Locality.order(:name), :id, :name, promp: "Localidad" %>

  </div>

  <div class="mb-3">
    <%= form.label :Cliente, style: "display: block" %>
    <%= form.collection_select :client_id, @clients, :second, :first, prompt: "Cliente" %>
  </div>
  <%= form.submit "Enviar", class: "btn btn-outline-secondary", style: "margin-bottom: 20px; margin-top: 20px;"%>

</div>


</div>
<% end %>
</div>