<div id="<%= dom_id product %>">
  <p>
    <strong>Quantity:</strong>
    <%= product.quantity %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= product.type_id %>
  </p>

  <p>
    <strong>Composition:</strong>
    <%= product.composition_id %>
  </p>

  <p>
    <strong>Locality:</strong>
    <%= product.locality_id %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= product.client_id %>
  </p>

</div>
