<div class="container">
  <p style="color: green"><%= notice %></p>

  <h1>Productos</h1>

  <table class="table">
    <thead>
      <tr>
        <th>id</th>
        <th>Cliente</th>
        <th>Cantidad</th>
        <th>Tipo</th>
        <th>Composición</th>
        <th>Localidad</th>
        <th>Vista</th>
      </tr>
    </thead>
    <tbody>
      <% @products.order(created_at: :desc).each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.client.name + " " + product.client.lastName %></td>
        <td><%= product.quantity %></td>
        <td><%= product.type.name %></td>
        <td><%= product.composition.name %></td>
        <td><%= product.locality.name %></td>

        <td><%= link_to "Ver", product %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= link_to "Crear producto", new_product_path, class: 'btn btn-primary', style: "margin-left: 20px; margin-bottom: 20px;" %>