<div class="container">

  <p style="color: green"><%= notice %></p>

  <%= render @product %>
</div>

<div>
  <%= link_to "Editar", edit_product_path(@product), class: "btn btn-outline-secondary", style:"margin-left:20px;" %>
  <%= link_to "Volver", products_path, class: "btn btn-outline-secondary", style:"margin-left:10px;" %>
</div>
<%= button_to "Eliminar", @product, method: :delete, class: "btn btn-outline-secondary", style:"margin-top:20px; margin-left:20px; margin-bottom:20px;" %>