<div id="<%= dom_id sell %>">
  <p>
    <strong>Name:</strong>
    <%= sell.name %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= sell.lastName %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= sell.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= sell.email %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= sell.content %>
  </p>

  <p>
    <strong>Locality:</strong>
    <%= sell.locality_id %>
  </p>

</div>
