<div id="<%= dom_id sell %>">

  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Teléfono</th>
        <th>Correo</th>
        <th>Localidad</th>
        <th>Contenido</th>
      
      </tr>
    <tbody>
      <tr>
        <td><%= sell.name %></td>
        <td><%= sell.lastName %></td>
        <td><%= sell.phone %></td>
        <td><%= sell.email %></td>
        <td><%= sell.locality.name %></td>
        <td><%= sell.content %></td>
      </tr>
    </tbody>
  </table>
</div>